/*
    *{ border: 1px solid red; }
*/

.page
{
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  font-family: "Ariel", sans-serif;
  /* background-color: black; */
  background: linear-gradient(135deg, #fff8dc, #ffd700, #e5c100);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

a:link
{
  text-decoration: underline;
}

.head
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.iti {
  width: 100%;
}

#logo
{
  width: 55%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#contact_form
{
  margin-bottom: 5px;
  color: #079247;
}

#margin_zero
{
  margin: 0;
}
.button.is-link {
  background-color: #079247;
}

/* Media Query for iPads */

@media only screen 
and (min-width: 600px)
{
  #logo
  {
    max-width: 40%;
  }
}

/* Media Query for Desktops */

@media only screen   
and (min-width: 768px)
{
  #logo
  {
    max-width: 20%;
  }
  .main
  {
    height: 80%;
  }
}
/* @keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
} */